<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="URL_HTML_VALIDATOR" value="https://validator.w3.org/nu"/>
        <const name="URL_CSS_VALIDATOR" value="http://jigsaw.w3.org/css-validator"/>
    </php>
</phpunit>
